.content {
    background-color: var(--black);
}

h1, h2, h3, h4, h5, p, a{
    color: var(--white);
}

a.btn {
    background-color: var(--call-to-action);
}

section.create-account {
    background-color: var(--black);
}