@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;600&display=swap');

h1,
h2,
h3,
h4,
h5 {
	font-weight: 700;
	text-transform: capitalize;
}

h1,
h2,
h4 {
	line-height: 110%;
}

h1 {
	font-size: 67px;
}

h2 {
	font-size: 51px;
}

h3 {
	font-size: 38px;
	line-height: 120%;
}

h4 {
	font-size: 28px;
}

h5,
p {
	font-size: 22px;
	line-height: 160%;
}

a {
	font-size: 16px;
	line-height: 140%;
	text-decoration: none;
	font-weight: 600;
}

h1,
h2,
p,
a {
	font-family: 'Work Sans';
}