.main__background-img{
		background-image: url(../img/nft-page/nft-page-background.svg);
		background-size: cover;
		background-position: 50% 50%;
		min-height: 320px;
      width: 375px;
}

.nft-content__audition-timer{
	background-color: #2B2B2B;
}

.artist__info{
	display: flex;
	flex-direction: row;
}